.mensaje
{
    position: absolute;
    left: 1vh;
    top: 10vh;
    opacity: 1;
    transition: opacity 2s;

    /* Sombra */
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
}